body {
  background: #000;
}
header{
  height: 912px;
}
.pattern {
  width: 100%;
  height: 100%;
  background: url(http://www.webcreatorbox.com/sample/images/yokojima.png);
 position:relative;
  top: 0;
  left: 0;
  z-index: 2;
}
.head-sentense{
  position: absolute;
  top:100px;
  left:350px;
  z-index: 3;
  font-size:150px;
  color:white;
  font-family: 'Caveat', cursive;
  opacity:0.8;
}
.wf-nicomoji { 
  font-family: "Nico Moji"; 
  position: absolute;
  top:400px;
  left:400px;
  z-index: 4;
  font-size:100px;
  opacity:0.8;
}
.head-btn{
  position: absolute;
  top:700px;
  left:750px;
  z-index: 4;
  padding:16px 48px;
  color:white;
  display:inline-block;
  border-radius: 10px;
  box-shadow:3px 3px black ;
  background-color:rgba(18, 73, 73, 0.3);
 
  font-size:50px;
}
.head-btn:active{
  position:absolute;
  top:700px;
  left:750px;
  z-index: 4;
  box-shadow:none;
  background-color:rgba(241, 6, 6, 0.3);
}
.head-btn:hover{
  opacity:1;
}
video {
 position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.container{
  margin:0 auto;
  width:100%;
}

.butsu-butsu{
  background-image: url(journey模様.jpg);
  text-align:center;
  
}
.journey-wrapper h1{
  font-size: 100px;
}
.journey-wrapper p{
  font-size:30px;
  font-weight: bold;
}
.butsu-midashi p{
  font-size: 60px;
}

.butsu-image{
  width:500px;
  height:700px;

}
.butsu-butsu p{
  font-weight: bold;
}
h2{
  color:red;
  font-weight: bold;
  font-size:150px;
}
.back{
  
  padding:8px 24px;
  color:white;
  display:inline-block;
  border-radius: 10px;
  box-shadow:0 3px black ;
  background-color: grey;
}
.back:hover{
  opacity:0.8;
}
.back:active{

  box-shadow:none;
  position:relative;
  top:3px;
}
span{
  color:red;
}